<h3> New User</h3>
<%= link_to "ALl Users", users_path %>

<form action="/users" method="POST">
  <label>Name
    <input type="text" name="user[name]" value="<%= @user.name %>">
  </label>

  <input type="submit">
</form>

